<!-- header section starts -->
<header class="app-header">
	<nav class="navbar navbar-expand-md">
		<a class="navbar-brand" href="#">Hello username</a>
	</nav>
	<ul class="nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link active" href="#">Logout</a>
		</li>
	</ul>
</header>
<!-- header section ends -->

<main role="main" class="container-fluid">
	<div class="row">
		<div class="col-3">
			<app-chat-list></app-chat-list>
		</div>
		<div class="col-8">
			<app-conversation></app-conversation>
		</div>
	</div>
</main>