.online {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(0, 255, 42);
    float: right;
}

.offline {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    float: right;
}
