<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Code Explanation and Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Youtube Demo</a>
            </li>
        </ul>
    </div>
</footer>
